.example {
  position: relative;
  padding: 0 20px;

  background-color: #f2f2f2;
}

.example__content {
  margin: 0;
  margin-bottom: 30px;

  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
}

.example__wrapper--numbers {
  display: flex;
  justify-content: space-between;
}

.example__result {
  position: relative;
  width: 38.75%;
  padding: 16px 0;
  margin: 0;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 2px;

  &::before {
    position: absolute;
    left: 14.52%;
    top: calc(100% - 8px);

    width: 70.96%;
    height: 30px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: none;

    background-color: #f2f2f2;
  }

  &--kg::before {
    content: "снижение веса";
  }

  &--days::before {
    content: "затрачено времени";
  }
}

.example__course-price {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  border: 1px solid transparent;
}

.example__wrapper-before-after {
  display: flex;
  padding-top: 310px;
}

.example__was-now {
  padding-bottom: 35px;

  font-size: 24px;
  line-height: 24px;

  &--was {
    margin-right: 21%;
    margin-left: auto;
  }

  &--now {
    margin-left: 21%;
    margin-right: auto;
  }
}

.example__image-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 350px;
  margin-left: -20px;
}

.example__toggle {
  .be-af();
  bottom: 40px;
  right: 37%;
  width: 26%;
  height: 12px;

  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cdcdcd;

  &::before {
    .be-af();
    left: 3px;
    top: 2px;
    width: 50%;
    height: 6px;

    background-color: #68b738;
    border-radius: 3px;
  }
}

.example__image {
  position: absolute;
  bottom: 85px;
  right: calc(50% - 160px);

  &--after {
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .example {
    padding: 0 30px;

    background-color: #ffffff;
  }

  .example__header {
    padding: 50px 0;

    font-size: 60px;
  }

  .example__content {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper--info {
    display: flex;
    justify-content: space-between;

    padding-bottom: 250px;
  }

  .example__wrapper--numbers {
    width: 51.84%;
  }

  .example__result {
    width: 44.26%;
    padding: 18px 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      width: auto;
      padding: 0 8px;

      background-color: #ffffff;
    }

    &--kg::before {
      left: calc(50% - 50px);
    }

    &--days::before {
      left: calc(50% - 62px);
    }
  }

  .example__course-price {
    width: 180px;
    margin: 0;

    font-size: 20px;
    line-height: 36px;
    text-align: right;
  }

  .example__wrapper-before-after {
    padding-top: 370px;
    margin: 0 -30px;

    background-color: #f2f2f2;
  }

  .example__was-now {
    padding-bottom: 7px;
    margin-bottom: 70px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #cdcdcd;

    &--was {
      margin-right: auto;
      margin-left: 13%;
    }

    &--now {
      margin-left: auto;
      margin-right: 13%;
    }
  }

  .example__image-container {
    min-height: 650px;
    margin-left: -30px;
  }

  .example__toggle {
    bottom: 80px;
    right: 22%;
    width: 56%;
    height: 6px;

    background-color: #dcdcdc;
    border-radius: 2px;
    border: none;

    &::before {
      left: calc(50% - 17px);
      top: -1px;
      width: 8px;
      height: 8px;

      background-color: #68b738;
      border-radius: 50%;
      box-shadow:
        0 0 0 13px #ffffff,
        0 0 2px 14px #cdcdcd;
    }
  }

  .example__image {
    position: absolute;
    display: block;
    bottom: 115px;
    width: 690px;
    height: 520px;
    margin: 0 auto;


    &--after {
      z-index: 0;
      right: calc(50% - 345px);

      clip: rect(auto 690px auto 345px);
      overflow: hidden;
    }

    &--before {
      z-index: 1;
      left: calc(50% - 345px);

      clip: rect(auto 345px auto 0px);
      overflow: hidden;
    }
  }
}

@media (min-width: 1440px) {
  .example {
    display: flex;
    flex-wrap: wrap;

    max-width: 1440px;
    padding: 0 110px;
    margin: 0 auto;

    background-color: #f2f2f2;
  }

  .example__header {
    box-sizing: content-box;
    width: 100%;
    padding: 10px 110px;
    padding-bottom: 80px;
    margin: 0 -110px;

    background-color: #ffffff;
  }

  .example__wrapper-before-after,
  .example__wrapper {
    width: 50%;
  }

  .example__content {
    width: 71.31%;
    padding-top: 75px;
    margin-bottom: 70px;
  }

  .example__wrapper--info {
    flex-wrap: wrap;
    padding-bottom: 70px;
  }

  .example__wrapper--numbers {
    width: 60.16%;
  }

  .example__result {
    margin-bottom: 50px;

    &::before {
      background-color: #f2f2f2;
    }
  }

  .example__course-price {
    display: flex;
    justify-content: space-between;
    width: 54.1%;
  }

  .example__wrapper-before-after {
    min-height: 460px;
    margin: 0;
  }

  .example__was-now {
    &--was {
      margin-left: 40px;
    }

    &--now {
      margin-right: 40px;
    }
  }

  .example__image-container {
    right: 70px;
    min-height: 650px;
    width: 690px;
    margin-left: auto;
  }

  .example__toggle {
    bottom: 88px;
    right: 150px;
    width: 400px;

    &::before {
      left: calc(50% + 15px);
    }
  }

  .example__image {
    width: 690px;


    &--after {
      clip: rect(auto 690px auto 365px);
    }

    &--before {
      clip: rect(auto 365px auto 0px);
    }
  }
}
