.page-catalog {  
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", Arial, sans-serif;

  background-color: #ffffff;

  .adress {
    background-color: #f2f2f2;
  }

  @media (min-width: 1440px) {
    .adress {
      background-color: #ffffff;
    }
  }

  @media (min-width: 1440px) {
    .related-product {
      margin-bottom: 85px;
    }
  }
}

.button {
  display: block;
  padding: 10px;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #68b738;
  border: none;
}



